:root{--md-primary-fg-color:#e8590c;--md-primary-fg-color--light:#ff922b;--md-primary-fg-color--dark:#d9480f;--md-accent-fg-color:#f76707;}
[data-md-color-scheme=slate]{--md-primary-fg-color:#ff922b;--md-accent-fg-color:#ffa94d;}
